In [16]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error

In [27]:
df = pd.read_csv("Salary_Data[1].csv")

print(df.columns)
print(df.dtypes)
print(df.describe)
print(df.head)
print(df.isnull().sum())

Index(['YearsExperience', 'Salary'], dtype='object')
YearsExperience    float64
Salary             float64
dtype: object
<bound method NDFrame.describe of     YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0>
<bound method NDFrame.head of     YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0>
YearsExperience    0
Salary             0
dtype: int64

In [42]:
# Prepare the dataset

x=df['YearsExperience'].values.reshape(-1, 1)
y=df['Salary']

# Scale the feature
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x)

# Split into train and test sets
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.2)
model=LinearRegression()
model.fit(x_train,y_train)

# Predict on the test set
y_pred=model.predict(x_test)

# Evaluate the model
r2=r2_score(y_test,y_pred)
smse=np.sqrt(mean_squared_error(y_test,y_pred))
mae=mean_absolute_error(y_test,y_pred)

# User input prediction with validation
user_input = float(input("Enter the years of experience: "))
user_array=[[user_input]]
user_array_scaled=scaler.transform(user_array)
data_pred=model.predict(user_array_scaled)
print(f"Predicted salary: ${data_pred[0]:,.2f}")

# Print evaluation metrics with quotes
print(f'"R²": {r2:.4f}')
print(f'"RMSE": {rmse:.2f}')
print(f'"MAE": {mae:.2f}')

Enter the years of experience:  5.7

Predicted salary: $79,406.53
"R²": 0.9682
"RMSE": 456311.16
"MAE": 4371.60